body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-image: url('../Sin título.png');
    background-position: center;
    background-size: cover;
    /*height: 50vh; /* Establece la altura del header */
    /*background-color: #333 ;*/
    /*color: #1f09eb;*/
    padding: 20px;
    text-align: center;
}

.perfil {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foto-perfil {
    width: 200px;
    height: 250px;
    border-radius: 70%;
    margin-bottom: 30px;
}

.descripcion {
    color: black;
    font-size: 18px;
    margin-bottom: 20px;
}

.enlaces-personales {
    list-style: none;
    padding: 0;
    margin: 0;
}

.enlaces-personales li {
    display: inline-block;
    margin-right: 20px;
}

.enlaces-personales a {
    color:black;
    text-decoration: none;
}


.contenedor-videos {
    background-color: rgb(233, 232, 232);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.title-Mis-Videos{
    margin-left: 10px;
}

/* Agregamos reglas para responsividad de videos */
.video {
    flex-basis: 30%; /* establecemos una base de ancho para cada video */
    margin: 20px;
  }
  
  .video video {
    width: 100%; /* hacemos que el video ocupe todo el ancho disponible */
    height: 100%; /* hacemos que el video ocupe todo el alto disponible */
    object-fit: cover; /* hacemos que el video se ajuste al contenedor */
  }
  
  /* Agregamos reglas para pantalla pequeña */
  @media (max-width: 768px) {
    .video {
      flex-basis: 45%; /* aumentamos el ancho de cada video en pantalla pequeña */
    }
  }
  
  /* Agregamos reglas para pantalla muy pequeña */
  @media (max-width: 480px) {
    .video {
      flex-basis: 90%; /* hacemos que cada video ocupe casi todo el ancho en pantalla muy pequeña */
    }
  }


 